/* line 1, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 14, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
body, html {
  min-height: 100%;
  line-height: 1;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  -webkit-touch-callout: none;
  touch-action: none;
  speak: none;
  font-family: 'ProximaNova', Arial, sans-serif;
}

/* line 41, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

/* line 44, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 48, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 52, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
img,
fieldset,
a img {
  border: none;
}

/* line 57, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* line 63, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
svg {
  vertical-align: middle;
}

/* line 66, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
svg > path {
  transition: fill 0.5s ease;
}

/* line 69, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
a {
  color: #fff;
  text-decoration: none;
}

/* line 73, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
a:active, a:hover {
  outline: 0;
  text-decoration: none;
}

/* line 78, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
input[type="submit"],
button {
  cursor: pointer;
}

/* line 81, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 85, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
textarea {
  overflow: auto;
}

/* line 88, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
input, button {
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
}

/* line 94, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
input,
textarea {
  resize: none;
  user-select: text;
}

/* line 99, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
input {
  -webkit-appearance: button;
}

/* line 103, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* line 107, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #fff !important;
  color: #000 !important;
}

/* line 113, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

/* line 117, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
ul {
  list-style-type: none;
}

/* line 120, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 125, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
td, th {
  padding: 0;
  vertical-align: middle;
}

/* line 129, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 133, /Users/MiKolka/Documents/Project/vstuprating/sass/_reset.sass */
label {
  cursor: pointer;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova") format("svg");
}

@font-face {
  font-family: "ProximaNovaLight";
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova") format("svg");
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Reg/ProximaNova-Reg.eot");
  src: url("../fonts/ProximaNova-Reg/ProximaNova-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Reg/ProximaNova-Reg.woff") format("woff"), url("../fonts/ProximaNova-Reg/ProximaNova-Reg.ttf") format("truetype"), url("../fonts/ProximaNova-Reg/ProximaNova-Reg.svg#ProximaNova") format("svg");
}

/* line 3, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.clearfix:after, .main:after, .row:after, .search__row:after, .time-line:after {
  content: ' ';
  width: 0;
  height: 0;
  display: table;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}

/* line 14, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.page {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

/* line 19, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 28, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.is-scroll-y {
  overflow-y: scroll;
}

/* line 33, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.drop-zone-active .is-drop-zone {
  border-color: #8ab71f;
}

/* line 37, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.d-none {
  display: none;
}

/* line 41, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.no-overflow {
  overflow: visible !important;
}

/* line 44, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.no-scroll-bar, .header__rate-box {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

/* line 48, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.no-scroll-bar::-webkit-scrollbar, .header__rate-box::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/* line 53, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.is-button, .select-box > select, .result-test__item__name, .search__field, .search__field--min {
  background: none;
  border: 0;
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 59, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.el-full, .ngdialog, .ngdialog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 67, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.pos-rel {
  position: relative !important;
}

/* line 71, /Users/MiKolka/Documents/Project/vstuprating/sass/_common.sass */
.c-green {
  color: #31b573;
}

/* line 2, /Users/MiKolka/Documents/Project/vstuprating/sass/_animate.sass */
.animate, .result-test__item__del:after, .rating > span {
  transition: all 0.5s ease;
}

/* line 5, /Users/MiKolka/Documents/Project/vstuprating/sass/_animate.sass */
.animate-transform {
  transition: transform 0.5s ease;
}

/* line 8, /Users/MiKolka/Documents/Project/vstuprating/sass/_animate.sass */
.animate-opacity {
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

/************************************************************************************
 * Modal window
 *************************************************************************************/
/* line 10, /Users/MiKolka/Documents/Project/vstuprating/sass/_modal.sass */
.ngdialog {
  position: fixed;
  overflow: auto;
  z-index: 10000;
  -webkit-overflow-scrolling: touch;
}

/* line 35, /Users/MiKolka/Documents/Project/vstuprating/sass/_modal.sass */
.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backface-visibility: hidden;
  animation: fadein 0.5s;
}

/* line 43, /Users/MiKolka/Documents/Project/vstuprating/sass/_modal.sass */
.ngdialog-no-overlay > .ngdialog-content {
  pointer-events: all;
}

/* line 46, /Users/MiKolka/Documents/Project/vstuprating/sass/_modal.sass */
.ngdialog-content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  animation: fadein 0.5s;
  pointer-events: none;
}

/* line 56, /Users/MiKolka/Documents/Project/vstuprating/sass/_modal.sass */
.ngdialog.ngdialog-closing > .ngdialog-content {
  -webkit-backface-visibility: hidden;
  animation: fadeout 0.5s;
}

/* line 60, /Users/MiKolka/Documents/Project/vstuprating/sass/_modal.sass */
.ngdialog.ngdialog-closing > .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  animation: fadeout 0.5s;
}

/* line 65, /Users/MiKolka/Documents/Project/vstuprating/sass/_modal.sass */
.ngdialog.ngdialog-closing.open-contacts-info .contacts-info {
  animation: move-top 0.5s;
}

/* line 68, /Users/MiKolka/Documents/Project/vstuprating/sass/_modal.sass */
.ngdialog.ngdialog-closing.open-contacts-info .contacts-info:after {
  animation: fadeout 0.5s;
}

/* line 81, /Users/MiKolka/Documents/Project/vstuprating/sass/_modal.sass */
body.ngdialog-open {
  overflow: hidden;
}

/* line 90, /Users/MiKolka/Documents/Project/vstuprating/sass/_modal.sass */
.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
  animation: flyout .5s;
}

/* line 92, /Users/MiKolka/Documents/Project/vstuprating/sass/_modal.sass */
.ngdialog.ngdialog-theme-default .ngdialog-content {
  animation: flyin .5s;
}

/* line 5, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.header {
  position: relative;
  z-index: 1;
  height: 120px;
  background-color: #314047;
}

/* line 12, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.header:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 260px;
  box-shadow: 0 -18px 5px 15px rgba(49, 64, 71, 0.8);
}

/* line 20, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.header__rate-box {
  position: relative;
  max-width: 100%;
  height: 120px;
  margin-right: 260px;
  padding-left: 25px;
  overflow-x: auto;
  white-space: nowrap;
}

/* line 31, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.header-col {
  margin-top: 22px;
  margin-right: 35px;
  display: inline-block;
  color: #919191;
}

/* line 39, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.header__rate {
  position: relative;
  margin: 0;
  padding: 0 15px;
  display: inline-block;
  vertical-align: middle;
  color: #fffffd;
  font-size: 63px;
}

/* line 48, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.header__rate:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -7px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 12px solid #31b573;
}

/* line 59, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.header__rate--down:before {
  border-bottom: 0;
  border-top: 12px solid #d82323;
}

/* line 64, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.header__vnz {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

/* line 69, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.header__subject {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}

/* line 75, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.header__user {
  position: absolute;
  top: 50%;
  right: 23px;
  transform: translate(0, -50%);
}

/* line 82, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.user__box {
  display: inline-block;
  margin-left: 40px;
}

/* line 86, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.header__user__img {
  width: 51px;
  height: 51px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

/* line 97, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.user__name {
  margin-right: 34px;
  display: inline-block;
  vertical-align: middle;
  color: #eaeaea;
  font-size: 13px;
}

/* line 104, /Users/MiKolka/Documents/Project/vstuprating/sass/_header.sass */
.header__notify {
  width: 21px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../pic/notify.png);
}

/* line 1, /Users/MiKolka/Documents/Project/vstuprating/sass/_menu.sass */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 165px;
  padding-top: 185px;
  padding-left: 25px;
  background-color: #273339;
}

/* line 13, /Users/MiKolka/Documents/Project/vstuprating/sass/_menu.sass */
.menu__item {
  display: block;
  margin-bottom: 18px;
  color: #eaeaea;
  font-family: ProximaNovaBold;
  font-size: 13px;
}

/* line 21, /Users/MiKolka/Documents/Project/vstuprating/sass/_menu.sass */
.menu__item:hover, .menu__item.is-active {
  text-decoration: underline;
}

/* line 3, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
input:disabled {
  color: #d6d6d6;
}

/* line 6, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
.btn {
  min-width: 265px;
  height: 32px;
  margin: 0 auto;
  padding: 0 10px;
  display: block;
  box-sizing: border-box;
  background-color: #31b573;
  border-radius: 3px;
  color: #fff;
  font-family: ProximaNovaLight;
  font-size: 12px;
  line-height: 32px;
}

/* line 22, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
.btn--primaty {
  background-color: #29b1f0;
}

/* line 25, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
.btn--middle {
  min-width: 192px;
}

/* line 28, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
.btn--min {
  min-width: 130px;
}

/* line 31, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
.btn.is-success {
  color: #31b573;
  background-color: #fff;
  border: 1px solid #31b573;
}

/* line 36, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
.btn--full {
  width: 100%;
}

/* line 43, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
.select-box {
  position: relative;
  display: inline-block;
}

/* line 47, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
.select-box:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  height: 10px;
  margin-top: -5px;
  background: url("../pic/down-big.png") no-repeat;
  pointer-events: none;
}

/* line 58, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
.select-box:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 20px;
  border-bottom: 1px solid #4a5464;
}

/* line 66, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
.select-box > select {
  padding-right: 20px;
  color: #4a5464;
  font-family: ProximaNovaBold;
  font-size: 23px;
}

/* line 75, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
.select-box--large > select {
  color: #4a5464;
  font-family: ProximaNovaLight;
  font-size: 31px;
}

/* line 80, /Users/MiKolka/Documents/Project/vstuprating/sass/_button.sass */
.select-box--large:before {
  content: none;
}

/* line 3, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.main {
  margin-left: 190px;
}

/* line 7, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.row {
  float: none !important;
}

/* line 11, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.title {
  margin-bottom: 20px;
  margin-left: -10px;
  color: #1b2428;
  font-family: ProximaNovaBold;
  font-size: 27px;
}

/* line 18, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.main-card {
  padding: 30px 50px 30px 60px;
  box-sizing: border-box;
  float: left;
}

/* line 23, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result {
  width: 39.63964%;
  min-height: 403px;
  background: #ecf1f5;
}

/* line 30, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-test__item {
  position: relative;
  margin-bottom: 28px;
  padding-left: 3%;
  font-size: 0;
}

/* line 38, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-test__item.is-active .result-test__item__del:after {
  background: #3fbcef;
}

/* line 41, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-test__item.is-active .result-test__item__name {
  color: #1b2428;
}

/* line 44, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-test__item.is-active .rating > span {
  opacity: 1;
}

/* line 48, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-test__item .rating > span {
  opacity: 0.3;
}

/* line 51, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-test__item__in {
  width: 65%;
  display: inline-block;
  vertical-align: bottom;
}

/* line 56, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-test__item__name {
  width: 100%;
  margin-bottom: 10px;
  color: #d6d6d6;
  font-size: 17px;
}

/* line 63, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-test__item__val {
  position: relative;
  top: 3px;
  width: 35%;
  max-width: 120px;
  margin-right: -50px;
  display: inline-block;
  padding-left: 8.63636%;
  color: #1b2428;
  font-size: 37px;
  vertical-align: bottom;
}

/* line 75, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-test__item__del {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -40px;
  width: 30px;
  cursor: pointer;
  z-index: 1;
}

/* line 84, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-test__item__del:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 12px;
  height: 12px;
  margin-top: -3px;
  background: #d6d6d6;
  border-radius: 50%;
}

/* line 97, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.rating {
  position: relative;
  width: 100%;
  height: 7px;
  overflow: hidden;
  background-color: #d2d2d2;
  border-radius: 3px;
}

/* line 105, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.rating > span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #29b1f0;
  border-radius: 3px;
}

/* line 116, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.rating--pink > span {
  background-color: #ee7d8f;
}

/* line 119, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.rating--large {
  height: 20px;
  background-color: #e1e1e1;
  border-radius: 10px;
}

/* line 124, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.rating--large > span {
  background-color: #31b573;
  border-radius: 10px;
}

/* line 129, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search {
  width: 60.36036%;
  float: right;
  padding: 30px 50px 30px 50px;
}

/* line 134, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search + .search {
  padding-top: 0;
  margin-top: -25px;
}

/* line 138, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__row {
  margin: 0 -2.23881% 15px;
}

/* line 142, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__row .col-2 {
  width: 44.77612%;
  margin: 0 2.23881%;
  float: left;
}

/* line 147, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__label {
  display: block;
  color: #c5c5c5;
  font-size: 12px;
}

/* line 153, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__field {
  width: 100%;
  padding: 5px 0;
  color: #1b2428;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 0;
  border-bottom: 1px solid #c5c5c5;
}

/* line 164, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__field::-webkit-input-placeholder {
  color: #1b2428;
}

/* line 166, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__field::-moz-placeholder {
  color: #1b2428;
}

/* line 168, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__field:-moz-placeholder {
  color: #1b2428;
}

/* line 170, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__field:-ms-input-placeholder {
  color: #1b2428;
}

/* line 173, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__field--min {
  width: 16%;
  float: left;
  margin-right: 4%;
  text-align: center;
  color: #1b2328;
  font-size: 18px;
}

/* line 182, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__field--min:last-child {
  margin-right: 0;
}

/* line 185, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__field--min::-webkit-input-placeholder {
  color: #c5c5c5;
}

/* line 187, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__field--min::-moz-placeholder {
  color: #c5c5c5;
}

/* line 189, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__field--min:-moz-placeholder {
  color: #c5c5c5;
}

/* line 191, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.search__field--min:-ms-input-placeholder {
  color: #c5c5c5;
}

/* line 196, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-search {
  margin: 45px 28px;
}

/* line 200, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-search tbody > tr {
  border-bottom: 1px solid #eaeaea;
}

/* line 203, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-search th {
  padding: 0 10px 10px 10px;
  text-align: left;
  color: #1b2428;
  font-size: 15px;
}

/* line 209, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-search td {
  padding: 20px 10px;
}

/* line 212, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-search td a {
  color: #29b1f0;
}

/* line 215, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.result-search td a:hover {
  text-decoration: underline;
}

/* line 222, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.list--progress .list__item {
  padding: 0;
}

/* line 225, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.list--progress .list__item__in {
  width: 59.62199%;
  float: left;
}

/* line 229, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.list--progress .list__item__text {
  padding-right: 30px;
  margin: 0;
}

/* line 233, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.list--progress .list-rating {
  width: 36.2543%;
  margin-top: 15px;
  float: right;
}

/* line 238, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.list__item {
  position: relative;
  padding-right: 156px;
}

/* line 242, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.list__item__in {
  position: relative;
}

/* line 245, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.list__item__text {
  margin-right: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #4a5464;
  line-height: 35px;
  font-size: 15px;
  text-decoration: underline;
}

/* line 258, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.list__value {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 35px;
  font-size: 12px;
  font-family: ProximaNovaBold;
}

/* line 267, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.list__item__btn {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 273, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.section-title {
  color: #4a5464;
  font-family: ProximaNovaBold;
  font-size: 23px;
}

/* line 279, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line {
  position: relative;
  padding: 48px 0 25px;
  margin: 0px -50px 0 -60px;
}

/* line 285, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  margin-left: -2px;
  background-color: #ebf1f5;
}

/* line 295, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__item {
  position: relative;
  left: 19px;
  width: 38%;
  margin-left: 50%;
  margin-bottom: 43px;
  float: left;
  padding: 15px 23px;
  box-sizing: border-box;
  color: #4a5464;
  font-size: 18px;
  line-height: 29px;
}

/* line 309, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__item:before {
  content: '';
  position: absolute;
  top: 17px;
  left: -32px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 3px solid #67087b;
  border-radius: 50%;
}

/* line 320, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__item.is-start {
  border: 1px solid #67087b;
}

/* line 323, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__item.is-completed {
  color: #fefefe;
  background-image: linear-gradient(to top, #380643 0%, #7b218f 100%);
  border: 1px solid #67087b;
}

/* line 328, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__item.is-completed:before {
  background-color: #67087b;
}

/* line 331, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__item.is-completed:after {
  content: '';
  position: absolute;
  top: 41px;
  left: -23px;
  height: 100%;
  width: 3px;
  padding-top: 18px;
  background-color: #67087b;
}

/* line 341, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__item:nth-of-type(2n) {
  left: -19px;
  margin-right: 50%;
  float: right;
  text-align: right;
}

/* line 347, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__item:nth-of-type(2n):before {
  left: auto;
  right: -30px;
}

/* line 351, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__item:nth-of-type(2n):after {
  left: auto;
  right: -21px;
}

/* line 355, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__item:nth-of-type(2n) .time-line__status {
  right: auto;
  left: 23px;
}

/* line 359, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__item:nth-of-type(2n) .time-line__title {
  padding-left: 23px;
  padding-right: 0;
}

/* line 363, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__status {
  position: absolute;
  top: 17px;
  right: 23px;
}

/* line 368, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-line__title {
  padding-right: 45px;
  font-size: 18px;
  font-family: ProximaNovaBold;
}

/* line 375, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.page-goal {
  color: #4a5464;
  font-family: ProximaNovaLight;
}

/* line 381, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.goal-title-min {
  text-align: center;
  font-size: 13px;
}

/* line 385, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.goal-title {
  margin: 50px 0;
  text-align: center;
  font-size: 31px;
  font-weight: 300;
}

/* line 391, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.goal-table {
  max-width: 460px;
  margin: 0 auto;
  width: 461px;
  height: 85px;
  font-size: 18px;
}

/* line 400, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-step {
  position: relative;
  max-width: 742px;
  height: 3px;
  margin: 100px auto 0;
  background-color: #3fbcef;
}

/* line 407, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-step:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 56px;
  width: 18px;
  height: 33px;
  background: url("../pic/finish.png") no-repeat;
}

/* line 416, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-step__item {
  position: relative;
  top: -33px;
  margin-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-size: 17px;
}

/* line 425, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-step__item:before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #3fbcef;
  border-radius: 50%;
}

/* line 437, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-step__item.is-active:before {
  background-color: #3fbcef;
  border: 2px solid #3fbcef;
}

/* line 441, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-step__item.step-2 {
  margin-left: 60px;
}

/* line 444, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-step__item.step-4 {
  margin-left: 80px;
}

/* line 447, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-step__item.step-5 {
  margin-left: 50px;
}

/* line 451, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-step-table {
  max-width: 742px;
  margin: 100px auto 0;
  font-size: 18px;
}

/* line 457, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-step-table td {
  padding: 16px 4px;
  border-bottom: 1px solid #f2f2f2;
}

/* line 461, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-step-table tr.is-success {
  color: #d6d6d6;
}

/* line 465, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.time-step-table tr.is-success .circle:after {
  background-color: #31b573;
}

/* line 468, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.circle {
  position: relative;
  padding-right: 75px;
}

/* line 472, /Users/MiKolka/Documents/Project/vstuprating/sass/_main.sass */
.circle:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 4px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background-color: #fff;
  border: 2px solid #31b573;
  border-radius: 50%;
}
