
<main class="main page-goal">

    <div class="row main-card">

        <h5 class="goal-title-min">
            Вибір свого майбутнього — це непросто.
            <br/>
            Але ми допоможемо.
        </h5>

        <h3 class="goal-title">
            Я хочу стати
            <label class="select-box select-box--large">
                <select>
                    <option value="математики" selected>програмістом</option>
                </select>
            </label>
        </h3>

        <table class="goal-table">
            <tbody>
                <tr>
                    <td>Середня заробітна плата</td>
                    <td>13370</td>
                </tr>
                <tr>
                    <td>Основні навички</td>
                    <td>Basic, Pascal, C++</td>
                </tr>
                <tr>
                    <td>Вакансій знайдено</td>
                    <td>4368</td>
                </tr>
            </tbody>
        </table>

        <h3 class="goal-title">
            Як мені цьому навчитись?
        </h3>

        <section ng-switch="steps">
            <ul class="time-step">
                <li class="time-step__item step-1"
                    ng-class="{'is-active': steps === 'Bas'}"
                    ng-click="steps = 'Bas'">Basic</li>
                <li class="time-step__item step-2"
                    ng-class="{'is-active': steps === 'Pas'}"
                    ng-click="steps = 'Pas'">Pascal</li>
                <li class="time-step__item step-3"
                    ng-class="{'is-active': steps === 'Alg'}"
                    ng-click="steps = 'Alg'">Алгоритмiзацiя</li>
                <li class="time-step__item step-4"
                    ng-class="{'is-active': steps === 'C'}"
                    ng-click="steps = 'C'">C++</li>
                <li class="time-step__item step-5"
                    ng-class="{'is-active': steps === 'Pat'}"
                    ng-click="steps = 'Pat'">Патерни</li>
            </ul>

            <table class="time-step-table" ng-switch-when="Pas">
                <tbody>
                    <tr class="is-success">
                        <td>Паскаль - это просто!</td>
                        <td class="circle">Coursera</td>
                    </tr>
                    <tr class="is-success">
                        <td>Pascal Has Never Been That Ez</td>
                        <td class="circle">Udemy</td>
                    </tr>
                    <tr>
                        <td>Lets learn Pascal</td>
                        <td class="circle">Prometheus</td>
                    </tr>
                    <tr>
                        <td>Pascal Crash Course 101</td>
                        <td class="circle">edX</td>
                    </tr>
                </tbody>
            </table>
        </section>

    </div>

</main>