
<main class="main page-goal">

    <div class="row main-card">

        <h5 class="goal-title-min">
            Вибір свого майбутнього — це непросто.
            <br/>
            Але ми допоможемо.
        </h5>

        <h3 class="goal-title">
            Я хочу стати
            <label class="select-box select-box--large">
                <span contenteditable="true" ng-keydown="setSpec($event)"></span>
                <!--<input value=""></option>-->
            </label>
        </h3>

        <table class="goal-table asd" ng-show="v">
            <tbody>
                <tr>
                    <td>Середня заробітна плата</td>
                    <td>13370</td>
                </tr>
                <tr>
                    <td>Основні навички</td>
                    <td>Basic, Pascal, C++</td>
                </tr>
                <tr>
                    <td>Вакансій знайдено</td>
                    <td>4368</td>
                </tr>
            </tbody>
        </table>

        <h3 class="goal-title asd" ng-show="v">
            Як мені цьому навчитись?
        </h3>

        <section class="asd" ng-show="v">
            <ul class="time-step">
                <li class="time-step__item step-{{$index + 1}}"
                    ng-repeat="item in map track by $index"
                    ng-class="{'is-active': step === item.name}"
                    ng-click="setStep(item.name)"
                    ng-bind="item.name"></li>
            </ul>

            <table class="time-step-table"
                   ng-repeat="m in map track by $index"
                   ng-if="m.list[0]"
                   ng-show="step === m.name">
                <tbody>
                    <tr ng-repeat="item in m.list track by $index"
                        ng-class="{'is-success': item.success}">
                        <td ng-bind="::item.name"></td>
                        <td class="circle"
                            ng-bind="::item.course"
                            ng-click="item.success = !item.success"></td>
                    </tr>
                </tbody>
            </table>
        </section>

    </div>

</main>