
<section class="header__rate-box">
    <div class="header-col">
        <div class="header-col__box">
            <span class="header__rate">7</span>
            <p class="header__vnz">Київський <br/> політехнічний <br/> інститут</p>
        </div>
        <p class="header__subject">Програмна інженерія</p>
    </div>

    <div class="header-col">
        <div class="header-col__box">
            <span class="header__rate">10</span>
            <p class="header__vnz">Національний <br/> авіаційний <br/> університет</p>
        </div>
        <p class="header__subject">Комп’ютерні науки</p>
    </div>

    <div class="header-col">
        <div class="header-col__box">
            <span class="header__rate header__rate--down">103</span>
            <p class="header__vnz">Державний <br/> університет <br/> телекомунікацій</p>
        </div>
        <p class="header__subject">Телекомунікації</p>
    </div>

    <div class="header-col">
        <div class="header-col__box">
            <span class="header__rate header__rate--down">103</span>
            <p class="header__vnz">Державний <br/> університет <br/> телекомунікацій</p>
        </div>
        <p class="header__subject">Телекомунікації</p>
    </div>
</section>

<div class="header__user">
    <i class="header__notify"></i>
    <div class="user__box">
        <p class="user__name">Станислав</p>
        <figure class="header__user__img"
                style="background-image:url(pic/user.png);"></figure>
    </div>
</div>