
<main class="main">

    <div class="row">

        <section class="result main-card" ng-controller="resultZnoCtrl">
            <h4 class="title">Результати тестування</h4>

            <ul class="result-test">
                <li class="result-test__item"
                    ng-repeat="item in choseZno track by $index"
                    ng-class="{'is-active': item.active}">
                    <div class="result-test__item__in">
                        <select class="result-test__item__name"
                                ng-model="item.name"
                                ng-change="updateData()">
                            <option ng-repeat="s in zno track by $index"
                                    ng-value="s.name"
                                    ng-bind="s.name"
                                    ng-selected="s.name === item.name"></option>
                        </select>
                        <figure class="rating">
                            <span ng-style="{width: item.value - 100 + '%'}"></span>
                        </figure>
                    </div>
                    <input class="result-test__item__val"
                           type="number"
                           ng-value="item.value"
                           ng-model="item.value"
                           ng-disabled="!item.active"
                           ng-blur="successInput(item)"
                    />
                    <i class="result-test__item__del"
                       ng-click="diactiveChoseZno(item)"></i>
                </li>
            </ul>

            <br/>

            <button class="btn btn--primaty btn--middle"
                    ng-click="addSubject()">Додати предмет</button>
        </section>

        <section class="search main-card">
            <h4 class="title">Підібрати університет</h4>

            <div class="search__row">
                <div class="col-2">
                    <label class="search__label">Регіон</label>
                    <select class="search__field"
                            ng-change="changeParamsSearch()"
                            ng-model="s.idCity">
                        <option value="">Всі регіони</option>
                        <option ng-repeat="item in cities track by $index"
                                ng-value="item.idCity"
                                ng-bind="item.name"></option>
                    </select>
                </div>
                <div class="col-2">
                    <label class="search__label">ОКР</label>
                    <select class="search__field">
                        <option>Бакалавр</option>
                    </select>
                </div>
            </div>

            <div class="search__row">
                <div class="col-2">
                    <label class="search__label">Напрям</label>
                    <select class="search__field" ng-model="s.idDirection">
                        <option value="">Всі напрями</option>
                        <option ng-repeat="item in directions track by $index"
                                ng-value="item.idDirection"
                                ng-bind="item.name"></option>
                    </select>
                </div>
                <div class="col-2">
                    <label class="search__label">ВНЗ</label>
                    <select class="search__field"
                            ng-change="changeParamsSearch()"
                            ng-model="s.idUniversity">
                        <option value="">Всі ВНЗ</option>
                        <option ng-repeat="item in university track by $index"
                                ng-value="item.idUniversity"
                                ng-bind="item.title"></option>
                    </select>
                </div>
            </div>

            <div class="search__row">
                <div class="col-2">
                    <label class="search__label">Галузь науки</label>
                    <select class="search__field"
                            ng-change="changeParamsSearch()"
                            ng-model="s.idBranch">
                        <option value="">Всі галузі</option>
                        <option ng-repeat="item in branches track by $index"
                                ng-value="item.idBranch"
                                ng-bind="item.name"></option>
                    </select>
                </div>
            </div>

            <div class="search__row">
                <div class="col-2">
                    <label class="search__label">Набрані бали (атестат, екзамен, МАН)</label>
                    <input class="search__field search__field--min"
                           type="number"
                           placeholder="ЗНО"
                           string-to-number
                           ng-model="s.meanBall"/>
                    <input class="search__field search__field--min"
                           type="number"
                           placeholder="C"/>
                    <input class="search__field search__field--min"
                           type="number"
                           placeholder="E"/>
                    <input class="search__field search__field--min"
                           type="number"
                           placeholder="O"/>
                    <input class="search__field search__field--min"
                           type="number"
                           placeholder="П"/>
                </div>
            </div>

            <br/>

            <button class="btn btn--full" ng-click="startSearch()">Підтвердити</button>

        </section>

    </div>


    <div class="row">
        <section class="result-search">
            <table>
                <thead>
                    <tr>
                        <th>ВНЗ</th>
                        <th>Напрям</th>
                        <th>Факультет</th>
                        <th>ПМ/ВМ/БМ</th>
                        <th>Вірогідність вступу</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in chances track by $index">
                        <td ng-bind="item.VNZ"></td>
                        <td ng-bind="item.direction"></td>
                        <td ng-bind-html="getHTML(item.faculty)"></td>
                        <!--<td>-->
                            <span class="c-green">3</span>/75/20
                            <!--minBall: "114"-->
                        </td>
                        <td>
                            <figure class="rating rating--large">
                                <span ng-style="{width: s.meanBall - item.minBall + '%'}"></span>
                            </figure>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>


</main>