
<main class="main">

    <div class="row">

        <section class="result main-card">
            <h4 class="title">Результати тестування</h4>

            <ul class="result-test">
                <li class="result-test__item">
                    <div class="result-test__item__in">
                        <select class="result-test__item__name">
                            <option value="">Українська мова</option>
                        </select>
                        <figure class="rating">
                            <span style="width: 76%"></span>
                        </figure>
                    </div>
                    <input class="result-test__item__val"
                            value="186"/>
                </li>
                <li class="result-test__item">
                    <div class="result-test__item__in">
                        <select class="result-test__item__name">
                            <option value="">Математика</option>
                        </select>
                        <figure class="rating">
                            <span style="width: 76%"></span>
                        </figure>
                    </div>
                    <input class="result-test__item__val"
                            value="186"/>
                </li>
                <li class="result-test__item">
                    <div class="result-test__item__in">
                        <select class="result-test__item__name">
                            <option value="">Фізика</option>
                        </select>
                        <figure class="rating">
                            <span style="width: 76%"></span>
                        </figure>
                    </div>
                    <input class="result-test__item__val"
                            value="186"/>
                </li>
            </ul>

            <br/>

            <button class="btn btn--primaty btn--middle">Додати предмет</button>
        </section>

        <section class="search main-card">
            <h4 class="title">Підібрати університет</h4>

            <div class="search__row">
                <div class="col-2">
                    <label class="search__label">Регіон</label>
                    <select class="search__field">
                        <option>Харківська обл.</option>
                    </select>
                </div>
                <div class="col-2">
                    <label class="search__label">ОКР</label>
                    <select class="search__field">
                        <option>Бакалавр</option>
                    </select>
                </div>
            </div>

            <div class="search__row">
                <div class="col-2">
                    <label class="search__label">Напрям</label>
                    <select class="search__field">
                        <option>Філологія</option>
                    </select>
                </div>
                <div class="col-2">
                    <label class="search__label">ВНЗ</label>
                    <select class="search__field">
                        <option>Будь який</option>
                    </select>
                </div>
            </div>

            <div class="search__row">
                <div class="col-2">
                    <label class="search__label">Напрям</label>
                    <select class="search__field">
                        <option>Гуманітарні науки</option>
                    </select>
                </div>
            </div>

            <div class="search__row">
                <div class="col-2">
                    <label class="search__label">Набрані бали (атестат, екзамен, МАН)</label>
                    <input class="search__field search__field--min"
                           type="text"
                           placeholder="ЗНО"/>
                    <input class="search__field search__field--min"
                           type="text"
                           placeholder="C"/>
                    <input class="search__field search__field--min"
                           type="text"
                           placeholder="E"/>
                    <input class="search__field search__field--min"
                           type="text"
                           placeholder="O"/>
                    <input class="search__field search__field--min"
                           type="text"
                           placeholder="П"/>
                </div>
            </div>

            <br/>

            <button class="btn">Підтвердити</button>

        </section>

    </div>


    <div class="row">
        <section class="result-search">
            <table>
                <thead>
                    <tr>
                        <th>ВНЗ</th>
                        <th>Напрям</th>
                        <th>Факультет</th>
                        <th>ПМ/ВМ/БМ</th>
                        <th>Вірогідність вступу</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="">НПУ ім. М.П. Драгоманова</a>
                        </td>
                        <td>соціальна робота</td>
                        <td>Інститут соціальної роботи та управління</td>
                        <td>
                            <span class="c-green">3</span>/75/20</td>
                        <td>
                            <figure class="rating rating--large">
                                <span style="width: 76%"></span>
                            </figure>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>


</main>